body {
  background-color: #EBFFF6;
  margin: 0; /* Remove default margin */
  font-family: Aeonik; /* Optional: Set a default font */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading_black {
    @apply text-black text-lg sm:text-2xl font-extrabold mb-2 sm:mb-0
  }
  .heading_green {
    @apply text-light-green text-lg sm:text-2xl font-extrabold mb-2 sm:mb-0
  }

  .sub_heading_dark_green {
    @apply text-dark-green text-base sm:text-lg font-extrabold mb-2 sm:mb-0
  }
  .text_dark_green {
    @apply text-dark-green text-base sm:text-lg font-normal mb-2 sm:mb-0
  }
}

@font-face {
  font-family: 'Aeonik';
  src: url('./fonts/AeonikTRIAL-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./fonts/AeonikTRIAL-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
