body {
    background-color: #EBFFF6;
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Optional: Set a default font */
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading_black {
    @apply text-black text-lg sm:text-2xl font-extrabold mb-2 sm:mb-0
  }
  .heading_green {
    @apply text-light-green text-lg sm:text-2xl font-extrabold mb-2 sm:mb-0
  }

  .sub_heading_dark_green {
    @apply text-dark-green text-base sm:text-lg font-extrabold mb-2 sm:mb-0
  }
  .text_dark_green {
    @apply text-dark-green text-base sm:text-lg font-normal mb-2 sm:mb-0
  }
}
